<div
  data-controller="vrp"
  data-vrp-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
  class="flex flex-col gap-8 text-slate-200 lg:grid lg:grid-cols-[70%_30%] lg:gap-8"
  style="min-height: calc(100vh - 7rem);"
>
  <%= render "vrp/map" %>

<%= turbo_stream_from :jobs %>
<div id="vrp-recent-jobs"></div>

  <section class="flex flex-col gap-6 lg:sticky lg:top-24 lg:h-[calc(100vh-9rem)] lg:overflow-y-auto lg:pb-6">
    <%= render "vrp/configure_mission" %>

    <%= render "vrp/mission_telemetry" %>

    <%= render "vrp/run_history" %>
  </section>
</div>
